* {
    padding: 0;
    margin: 0;
}

.form-div {
    width: 20%;
    margin-top: 2%;
    margin-left: 10%;
}

#unos-button {
    margin-top: 1%;
    width: 50%;
}

.main-div {
    display: flex;
    justify-content: space-between;
}

#table-rez {
    margin-top: 10%;
}

#table-rez_wrapper {
    margin-top: 15%;
    margin-left: -30%;
    margin-right: 5%;
}


#naziv-stadiona {
    position: absolute;
    top: 10%;
    right: 2%;
    width: 400px;
}