* {
    padding: 0;
    margin: 0;
}

.form-div {
    width: 20%;
    margin-top: 2%;
    margin-left: 10%;
}

#unos-button {
    margin-top: 1%;
    width: 50%;
}

.main-div {
    display: flex;
    justify-content: space-between;
}

#table-rez {
    position: absolute;
    width: 50%;
    right: 12%;
    top: 11%;
}